.user-container {
    margin-top: 60px;
    margin-left: 250px;
    width: 75%;
    min-height: 80vh;
}

.basic-container {
    width: 75%;
    min-height: 80vh;
}

.distribution-head-container {
    display: flex;
}

.relative {
    position: relative;
}

@media only screen and (max-width: 768px) {
    .user-container {
        width: 90%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .basic-container {
        width: 90%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .distribution-head-container {
        display: block;
        margin-bottom: 10px;
    }
}