.navbar-custom {
  background-image: linear-gradient(to top, rgb(250, 208, 196, 70%) 0%, rgb(255, 209, 255, 70%) 100%);
  backdrop-filter: blur(10px);
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 2rem;
}

/* pink CTA */
.btn-pink {
  background-color: #ff69b4;
  color: #fff;
}

.btn-pink:hover {
  background-color: #e0579e;
}